@charset "utf-8";

/* 공통 */
.wrapper { 
    width: 100%; 
    overflow: hidden;
}

.hidden {
    display: none;
}

.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: pink; */
}

.container h3 {
    text-align: center;
    letter-spacing: 0;
}

/* 이전, 다음 버튼 */
.prev-btn, .next-btn {
    opacity: 0.5;
}

.prev-btn:hover, .next-btn:hover {
    opacity: 1;
}

/* 특정 페이지 이동 버튼 */
.move-page {
    display: flex;
    justify-content: center;
    height: 42px;
    line-height: 42px;
    text-align: center;
}

.move-page .btn {
    height: 100%;
    padding: 0 25px;
    color: #7d7d7d;
    font: 16px 'Pretendard-SemiBold';
    border: 1px solid #7d7d7d;
    border-radius: 30px;
}
.move-page .btn img {
    margin-right: 5px;
}

.move-page .btn.another { margin-left: 30px; }

/* 메인 이미지 슬라이드 */
.main-slider {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('../images/main-slide-1.png') no-repeat;
    background-size: cover;
}

.main-slider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


/* 헤더 배너, 메뉴 */
.banner-menu-wrapper {
    position: relative;
    height: 165px;
}


/* 헤더 배너 */
.top-banner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #1b43c2;
}

.top-banner .title {
    font-size: 14px;
    color: #ffffff;
}

.top-banner .banner-close {
    position: absolute;
    top: 17px;
    right: 0;
    border: 0;
    background-color: transparent;
}


/* 헤더 메뉴 */
.logo-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.logo-menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.logo-menu-flex .logo {
    width: 200px;
    height: 31px;
}

.logo-menu-flex .gnb ul {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.logo-menu-flex .gnb a {
    color: #ffffff;
    font: 22px 'Pretendard-Medium';
}

.logo-menu-flex .icon {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.logo-menu-flex .icon img {
    height: 22px;
}


/* 메인 이미지슬라이드 내용 영역 */
.slide-con-wrapper {
    position: relative;
    top: 235px;
}


/* 메인 이미지슬라이드 내용 */
.slide-des {
    position: relative;
    padding: 0 600px 0 80px;
}

.slide-des span,
.slide-des h2,
.slide-des p {
    color: #ffffff;
}

.slide-des span {
    font: 26px 'Pretendard-Medium';
}

.slide-des h2 {
    margin-bottom: -25px;
    font: 75px 'Pretendard-Bold';
    letter-spacing: 0.08em;
}

.slide-des p {
    margin-top: 56px;
    font: 20px 'Pretendard-Light';
    line-height: 32px;
}


/* 메인 이미지슬라이드 페이징 */
.slide-paging {
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: -185px;
    width: 220px;
    height: 20px;
    padding-right: 10px;
}

.slide-paging .num {
    width: 173px;
}

.slide-paging .num span {
    color: #ffffff;
    font-size: 24px;
}

.slide-paging .indicator {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 4px;
    margin: 6px 5px;
    background-color: #9a9a9a;
}

.slide-paging .indicator .progress {
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #ffffff;
}

.slide-paging .stop {
    height: 20px;
}


/* 메인 이미지슬라이드 이동 버튼 */
.slide-btn {
    position: absolute;
    top: 50%;
}
.slide-btn button { opacity: 0.2; }
.slide-btn.prev { left: 100px; }
.slide-btn.next { right: 100px; }


/* 베스트 상품, 신상품, 최근에 본 상품 */
.blank-show {
    display: flex; 
    width: 100%;
    height: 550px;
}

.blank-show .blank-box {
    width: calc((100% - 1200px) / 2 + 10px);  /* container의 한쪽 margin 값 + container의 한쪽 padding 값 */
    height: 100%;
}

.blank-show .show-box {
    width: calc(100% - (100% - 1200px) / 2); /* 전체 크기 - blank_box */
    height: 100%; 
    padding-right: 51.42857142857143px; /* flex 사이 gap만큼 마지막 item에도 동일한 gap 추가, 2280px - (240px * 8) / 7) */
    overflow: overlay;
}

.item-display {
    margin-top: 120px;
}

main h3 { font: 55px 'Pretendard-Bold'; }

.tabmenu {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: 0 auto;
}

.tabmenu h3 {
    color: #d1d1d1;
    cursor: pointer;
}

.tabmenu h3:hover,
.tabmenu .selected {
    color: #000000;
}

.category-more-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    margin-top: 95px;
    margin-bottom: 44px;
    /* background-color: aquamarine; */
}

.category-more-wrapper .category ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.category-more-wrapper .category li { font-size: 20px; }

.category-more-wrapper .category .selected {
    padding-bottom: 5px;
    border-bottom: 3px solid #1b43c2;
}

.category-more-wrapper .category a:hover,
.category-more-wrapper .category .selected a {
    font-family: 'Pretendard-SemiBold';
    color: #1b43c2;
}

.item-scroll-wrapper {
    display: flex;
    justify-content: space-between;
    width: 2280px;
    height: 497px;
    /* overflow: scroll; */
    /* background-color: red; */
}

.item-scroll-wrapper .item-box {
    width: 240px;
    height: 497px;
    /* background-color: skyblue; */
}

.item-scroll-wrapper .item-view {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: #f3f3f3;
}

.item-scroll-wrapper .i-label {
    position: absolute;
    width: 40px;
    height: 40px;
    padding-right: 3px;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    border-bottom-right-radius: 20px;
    background-color: #333333;
}

.item-scroll-wrapper .i-label.top {
    background-color: #1b43c2;
}

.item-scroll-wrapper .item-des {
    width: 100%;
    height: 147px;
    /* background-color: coral; */
    padding: 18px 10px 0;
}

/* 제품 컬러 영역 */
.item-des .i-color {
    display: flex;
    width: 100%;
    height: 24px;
    /* background-color: crimson; */
}

.item-des .i-color .outer {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border-radius: 50%;
    border: 1px solid #d4d4d4;
}

.item-des .i-color > div:first-child {
    border: 1px solid #7d7d7d;
}

.item-des .i-color .inner {
    position: relative;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.i-color .inner.b-1-1 { background-color: #c6c5c5; }
.i-color .inner.b-1-2 { background-color: #595c61; }

.i-color .inner.b-2-1 { background-color: #e8985b; }
.i-color .inner.b-2-2 { background-color: #c11125; }
.i-color .inner.b-2-3 { background-color: #818d8d; }
.i-color .inner.b-2-4,
.i-color .inner.b-3-1,
.i-color .inner.b-7-2 { 
    background-color: #000000; 
}
.i-color .inner.b-4-1 { background-color: #e0e1d5; }
.i-color .inner.b-4-2 { background-color: #dce6a7; }
.i-color .inner.b-4-3 { background-color: #c8c1ed; }
.i-color .inner.b-4-4 { background-color: #182b4d; }
.i-color .inner.b-4-5 { background-color: #922537; }
.i-color .inner.b-5-1 { background-color: #e3c2d3; }
.i-color .inner.b-5-2 { background-color: #968f89; }
.i-color .inner.b-5-3 { background-color: #212121; }
.i-color .inner.b-6-1 { background-color: #e8e3df; }
.i-color .inner.b-6-2 { background-color: #363233; }
.i-color .inner.b-7-1 { background-color: #242d3c; }
.i-color .inner.b-8-1 { background-color: #274b87; }
.i-color .inner.b-8-2 { background-color: #6d49b5; }
.i-color .inner.b-8-3 { background-color: #2b2728; }

.item-des .i-color .inner a {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* 제품 정보 영역 */
.item-des .i-info {
    width: 100%;
    height: 84px;
    margin-top: 21px;
}

/* 제품 브랜드 및 제품명 */
.collection-title .collection { font: 14px 'Pretendard-Light'; }
.collection-title .title { 
    margin-top: 2px; 
    font: 18px 'Pretendard-Medium'; 
}


/* 제품 평점 및 제품 가격 영역 */
.score-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}


/* 제품 평점 */
.star-score { font-size: 14px; }
.star { color: #f5bc22; }
.score { color: #919191; margin-left: 2px; }


/* 제품 가격 */
.percent,
.price {
    font: 20px 'Pretendard-SemiBold';
}

.percent { 
    color: #f52222;
    letter-spacing: -0.04em;
    margin-right: 8px;
}

.won {
    font-size: 18px;
    margin-left: 4px;
}

.item-display .scroll-bar {
    position: relative;
    left: 25%;
    display: inline-block;
    width: 620px;
    height: 6px;
    margin-top: 88px;
    background-color: #ececec;
}

.item-display .scroll-bar .progress {
    position: absolute;
    width: 160px;
    height: 6px;
    background-color: #000000;
}

.poster-box, .event-box {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 0 10px;
}

.poster-box .c-poster,
.poster-box .c-info {
    width: 540px;
    height: 800px;
    /* background-color: #7d7d7d; */
}
.poster-box .c-poster {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

.c-info .c-des {
    width: 100%;
    height: 291px;
    padding: 56px 0 61px;
    /* background-color: orange; */
}

.c-info .c-des h4 {
    font: 48px 'Pretendard-SemiBold';
}

.c-info .c-des span {
    font: 22px 'Pretendard-Medium';
    letter-spacing: -0.04em;
    display: block;
    margin-top: 14px; /* -16px 부터 시작 */
}

.c-info .c-des p {
    margin-top: 24px; /* -6px 부터 시작 */
    font-size: 18px;
    line-height: 28px;
    color: #3a3a3a;
}

.c-info .c-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 509px;
    padding-bottom: 54px;
    /* background-color: green; */
}

.c-item .c-item-box {
    width: 250px;
    height: 456px;
    /* background-color: skyblue; */
}

.c-item-box .c-img {
    width: 100%;
    height: 350px;
    background-color: #f3f3f3;
}

.c-item-box .c-item-des {
    width: 100%;
    height: 106px;
    padding: 23px 10px 0;
    /* background-color: orange; */
}


.collection-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1490px;
    height: 800px;
    margin: 99px auto 0;
    /* background-color: #c8c1ed; */
}



.condition-wrapper {
    margin-top: 98px;
}

.condition {
    display: flex;
    align-items: center;
    justify-content: center;
}

.condition.c2 {
    margin-top: 20px;
}
.condition span, select {
    font: 36px 'Pretendard-Bold'
}

.condition select {
    padding-bottom: 3px;
    margin: 0 20px;
    border: 0;
    text-align: center;
    color: #1b43c2;
    border-bottom: 4px solid #1b43c2;
    background-color: transparent;
}

.condition-item-wrapper {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 534px;
    margin: 54px auto 52px;
    z-index: 1;
    /* background-color: skyblue; */
}

.condition-item-wrapper .item-box {
    width: 240px;
    height: 518px;
    /* background-color: #9a9a9a; */
}

.condition-item-wrapper .item-box .item-view {
    position: relative;
    width: 100%;
    height: 350px;
    /* background-color: #f3f3f3; */
}


.condition-item-wrapper .item-box .item-des {
    width: 100%;
    height: 185px;
    padding: 18px 10px 0;
    text-align: center;
    /* background-color: yellow; */
}
.condition-item-wrapper .item-box .item-des .i-color {
    justify-content: center;
}

.condition-item-wrapper .percent-price {
    margin-top: 19px;
}

.condition-item-wrapper .star-score {
    margin-top: 22px;
}
.i-color .inner.p-1-1 { background-color: #ece3df; }
.i-color .inner.p-2-1 { background-color: #2e2e2e; }
.i-color .inner.p-3-1 { background-color: #c1d2d9; }
.i-color .inner.p-3-2 { background-color: #e18876; }

.item-pick-wrapper {
    position: relative;
}

.item-pick-wrapper .gradient-bg {
    position: absolute;
    top: 350px;
    width: 100%;
    height: 253px;
    background: linear-gradient(0deg, rgba(243,243,243,1) 0%, rgba(243,243,243,0) 100%);
    z-index: -1;
}

.banner-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 146px;
    background-color: #ffd321;
}

.banner-wrapper .banner-box {
    position: relative;
    width: 50%;
    height: 100%;
}

.banner-wrapper .banner-box.left {
    background: #1b43c2;
}

.banner-box .banner-container {
    width: 590px;
    height: 100%;
}

.banner-box .banner-container.left {
    position: absolute;
    right: 0;
}

.banner-box .benefit {
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.banner-box .title-order {
    width: 140px;
    padding: 5px 0;
    text-align: center;
    font: 14px 'Pretendard-Medium';
    border-radius: 20px;
    background-color: #ffd321;
}

.banner-box span,
.banner-box h3,
.banner-box p {
    letter-spacing: -0.04em;
}

.title-order .order {
    margin-left: 5px;
    font-family: 'Pretendard-Bold';
}
.banner-box .benefit h3,
.banner-box .benefit p {
    color: #ffffff;
}

.banner-box .benefit h3 {
    margin-top: 8px;
    font: 35px 'Pretendard-SemiBold';
}

.banner-box .benefit p {
    margin-top: 12px;
    font-family: 'Pretendard-Light';
}


.banner-wrapper .banner-box.right {
    /* display: flex;
    position: relative; */
    height: 195px;
    /* background: #ffd321; */
}

.banner-box .banner-container.right {
    display: flex;
    align-items: flex-end;
}

.coupon {
    display: flex;
    align-items: flex-end;
}
.coupon .coupon-img {
    display: inline-block;
    width: 290px;
    height: 100%;
    padding-left: 40px;

}

.coupon .coupon-img .small-coupon {
    position: absolute;
    left: 180px;
    bottom: 0;
}

.coupon .coupon-des {
    width: calc(590px - 290px); /* 쿠폰 이미지 영역 너비를 뺀 나머지 */
    height: 146px;
    padding: 35px 0;
    /* background-color: red; */
}

.coupon .coupon-des h3 {
    color: #ef3939;
}

.coupon .coupon-des strong {
    margin-left: 10px;
    font: 35px 'Pretendard-SemiBold';
}

.event-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1490px;
    height: 440px;
    margin: 99px auto 0;
    /* background-color: #c8c1ed; */
}

.event-box .e-poster {
    width: 680px;
    height: 440px;
}
.event-box .e-poster {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

.event-box .e-info {
    width: 440px;
    height: 440px;
    padding: 66px 0;
    /* background-color: red; */
}

.event-box .e-info > span,
.event-box .e-info h4 {
    font-family: 'Pretendard-SemiBold';
}

.event-box .e-info > span {
    padding: 5px 15px;
    text-align: center;
    font: 14px 'Pretendard-Medium';
    border-radius: 20px;
    background-color: #1b43c2;
    color: white;
    letter-spacing: 0.02em;
}
.event-box .e-info h4 {
    margin-top: 15px;
    font-size: 42px;
}

.event-box .e-info p,
.event-box .e-info time {
    color: #3a3a3a;
}

.event-box .e-info p {
    margin-top: 40px;
    margin-bottom: 104px;
    font-size: 20px;
    line-height: 32px;
}

.event-box .e-info time {
    font: 18px 'Pretendard-Light';
}

.news-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
}

.news-wrapper .news-box {
    width: 540px;
    height: 550px;
    /* background-color: gray; */
}

.news-box .news-img {
    width: 100%;
    height: 360px;
    background-size: cover;
}

.news-box .news-des {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 190px;
    padding: 40px 40px 42px 30px;
}

.news-box .news-des h4 {
    font: 40px 'Pretendard-SemiBold';
}

.news-box .news-des p {
    margin-top: 12px;
    font-size: 18px;
    line-height: 27px;
}

/* .discover:hover {
    position: relative;
    top: -20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
} */

.brand-story-wrapper {
    position: relative;
    width: 100%;
    height: 700px;
    background-image: url("../images/brand-story.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.brand-story-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.brand-des {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.brand-des h3 {
    font: 50px 'Pretendard SemiBold';
}

.brand-des p {
    margin-top: 29px;
    font: 18px 'Pretendard-Light';
    line-height: 28px;
    letter-spacing: -0.04em;
}

.brand-des .move-page {
    margin-top: 70px;
}

.brand-des .move-page .btn.more {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.sns-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 36px;
    line-height: 36px;
    margin: 84px auto 62px;
}

.sns-box .text {
    width: 120px;
    height: 36px;
    text-align: center;
    font: 20px 'Pretendard-SemiBold';
}

.sns-box .line {
    position: relative;
    width: 60px;
}

.sns-box .line img {
    position: absolute;
    top: 50%;
}

.sns-box .sns-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}

.sns-box .sns-icon a {
    height: 36px;
}

.sns-box .sns-icon .youtube-icon {
    padding: 4px 0;
}

.sns-grid {
    display: grid; 
    grid-template-columns: repeat(5, lfr);
    grid-auto-rows: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    height: 730px;
    background-size: cover;
}

.sns-grid .pic {
    background-position: center !important;
    background-repeat: no-repeat !important;;
    background-size: cover !important;;
}

.sns-grid .pic.p1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background: url('../images/pic-1.png');
}
.sns-grid .pic.p2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background: url('../images/pic-2.png');
}

.sns-grid .pic.p3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url('../images/pic-3.png');
}

.sns-grid .pic.p4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: url('../images/pic-4.png');
}

.sns-grid .pic.p5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background: url('../images/pic-5.png');
}

.sns-grid .pic.p6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background: url('../images/pic-6.png');
}

.sns-grid .pic.p7 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url('../images/pic-7.png');
}

.sns-grid .pic.p8 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background: url('../images/pic-8.png');
}

.footer-wrapper {
    position: relative;
    width: 100%;
    height: 1080px;
}
.news-letter {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 820px;
    height: 385px;
    margin: 0 auto;
    background: url('../images/luggage-handle.png') center no-repeat;
}

.company {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 720px;
    background: url('../images/luggage-body.png') center no-repeat;
}

.subscribe {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
}

.subscribe h2 {
    font: 28px 'Pretendard-Bold';
}

.subscribe input[type="email"] {
    width: 380px;
    padding: 15px 20px;
    margin-top: 30px;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 20px 0px;
    border: 0;
    /* border-bottom: 1px solid #3a3a3a; */
}

.company-wrapper {
    width: 100%;
    height: 720px;
    padding: 63px 0 34px;
    color: white;
}

.row-1, .row-2, .row-3 {
    display: flex;
    justify-content: space-between;
}


.all-menu {
    display: flex;
    justify-content: space-between;
    width: 740px;
    height: 242px;
    background-color: green;
}

.all-menu li a {
    color: white;
}

.brand-partner {
    width: 340px;
    height: 242px;
    background-color: green;
}

.brand-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.brand-box div {
    width: 170px;
    height: 100px;
}

.samsonite, .inicis-sns {
    width: 340px;
    background-color: yellowgreen;

}

.inquiry {
    width: 230px;
    background-color: green;

}

.row-3 {
    width: 100%;
    height: 15px;
    background-color: orange;

}